# Игнорирование виртуального окружения
venv/

# Игнорирование системных файлов
__pycache__/
*.py[cod]

# Игнорирование файлов Visual Studio Code
.vscode/

# Игнорирование скрытых файлов macOS
.DS_Store
